/* General */

* {
    font-family: 'Syne', sans-serif;
}

a:hover, a {
    color: black;
}

/* 
-------------------Header-------------------
 */

.inside-header {
    padding: 0px;
}

/* décalage du logo */
.site-header .header-image {
    padding-left: 37px;
}
/* mise en forme du menu */
.main-navigation .main-nav ul li a {
    padding-left: 0px;
    padding-right: 60px;
    line-height: 80px;
}

.main-navigation .main-nav ul li a:hover {
    font-size: 13px;
    font-weight: 700;
    color: black;
}

.main-navigation .main-nav ul #menu-item-109 a {
    padding-left: 60px;
    padding-right: 60px;
    font-weight: 700;
} 

.main-navigation.toggled .main-nav>ul {
    display: flex;
    flex-direction: column;
}

.main-navigation.toggled .main-nav>ul #menu-item-67,
.main-navigation.toggled .main-nav>ul #menu-item-108 {
    padding-left: 60px;
}

.main-navigation a, .main-navigation .menu-toggle, .main-navigation .menu-bar-items {
    padding-left: 60px;
}

#menu-item-109 a {
    color: white;
    background-color: #DC9F96;
}

#menu-item-109 a:hover {
    background-color: #C02E44;
    font-size: 16px;
    font-weight: 700;
}

/* Ordre menu pour Hook Filter */

.main-navigation .main-nav ul #menu-item-108 {
    order: 1;
}

.main-navigation .main-nav ul #menu-item-67 {
    order: 2;
}

.main-navigation .main-nav ul #menu-item-109 {
    order: 3;
}

/* 
-------------------Footer-------------------
 */

.footer-widgets-container {
    padding: 0px;
}

/* 
-------------------Main-------------------
 */

 /* Effet arrondie page d'Accueil */
.elementor-element.elementor-element-6384a76:not(.elementor-motion-effects-element-type-background) {
    border-radius: 0% 0% 50% 50% / 0% 0% 10% 10%;
}

/* Effet arrondie page Nous rencontrer  */
.elementor-element-23ceeb6 {
    border-radius: 0% 0% 50% 50% / 0% 0% 10% 10%;
}

/* Mise en forme des images "Les Goûts" */
.wp-caption-text {
    position:absolute;
    z-index: 2;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.2);
    max-width: 392px;
}

.elementor-13 .elementor-element.elementor-element-8a7b6ca > .elementor-container > .elementor-column > .elementor-widget-wrap {
    max-width: 392px;
}

.col-gouts {
    display: flex;
    justify-content: flex-end;

}

/* Nous rencontrer */

body:not(.rtl) .elementor-59 .elementor-element.elementor-element-e569303 {
    max-width: 190px;
}

/* Formulaires Nous Contacter et Commander */

div.wpforms-container-full .wpforms-form .wpforms-field-label {
    font-size: 20px;
    font-weight: 400;
}

div.wpforms-container-full .wpforms-form input[type=text],
div.wpforms-container-full .wpforms-form input[type=email] {
    height: 71px;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.04);
    border-radius: 7px;
    border: none
}

div.wpforms-container-full .wpforms-form textarea {
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.04);
    border-radius: 7px;
    height: 237px;
    border: none;
}

div.wpforms-container-full .wpforms-form button[type=submit] {
    height: 55px;
    width: 198px;
    background-color: #E0B9B4;
    border-radius: 5px;
    color: white;
    border: none;
    padding: 0px;

}

div.wpforms-container-full .wpforms-form button[type=submit]:hover {
    background-color: #C02E44;
}

div.wpforms-container-full .wpforms-form .wpforms-submit-container {
    display: flex;
    justify-content: center;
}

/* Formulaire commander ( 0 , + , - , OK ) */
#form-cmd .champ {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 14.64px;
}
#form-cmd .champ div {
    display: flex;
    width: 82px;
}

#form-cmd div input {
    width: 51px;
    height: 56px;
    border-radius: 5px 0px 0px 5px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

#form-cmd div .ok {
    height: 56px;
    width: 100px;
    background-color: #E0B9B4;
    border-radius: 5px;
    color: white;
    font-family: 'Syne', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.btn-number {
    display: flex;
    flex-direction: column;
}

.btn-positive {
    border-radius: 0px 5px 0px 0px;
    border-bottom: 1px solid white;
}

.btn-negative {
    border-radius: 0px 0px 5px 0px;
}

.btn-number button {
    width: 31px;
    height: 28px;
    padding: 0px;
    font-weight: 400;
    font-size: 20px;
    font-family: 'Syne', sans-serif;
    background-color: #E0B9B4;
}

/* Formulaire Vos informations // Livraison */

#wpforms-form-268 button[type=submit],
#wpforms-form-271 button[type=submit] {
display: none;
}

#wpforms-form-271,
#wpforms-form-268 {
    color: white;
}

/* Effacer fleche ::after et ::befor */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button,
input[type=number] { 
    -moz-appearance: textfield;
    appearance: textfield;
    -webkit-appearance: none;
    margin: 0;
}


/* Page Commander */

#img-commande div figure img,
#img-commande div figure figcaption  {
    font-size: 20px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0);
}

#img-commande div figure {
    width: 193px;
}

/* Media Queries */

@media (min-width: 768px) and (max-width: 1024px) {
    /* Page Commander - adaptation tablette form (0,+,-,ok) */
    #form-cmd .champ {
        padding-left: 0px;
        padding-right: 0px;
    }
    #form-cmd div .ok{
        margin-left: 10px;
    }
  }


@media (max-width: 767px) {
    /* Rétrécissement des titres sur mobile */

    .elementor-13 .elementor-element.elementor-element-584ccf0 .elementor-heading-title {
        font-size: 24px;
    }
    .elementor-13 .elementor-element.elementor-element-8963af1 .elementor-heading-title,
    .elementor-13 .elementor-element.elementor-element-d4ddc40 .elementor-heading-title {
        font-size: 24px;
    }
    /* Ajustement - Les Goûts - Page d'accueil */
    .col-gouts,
    .col-gouts2,
    .elementor-13 .elementor-element.elementor-element-8a7b6ca > .elementor-container > .elementor-column > .elementor-widget-wrap {
        justify-content: center;
        margin: 0px;
    }
    /* Changement de la justification du form (0,+,-,ok) */
    #form-cmd .champ {
        justify-content: center;
    }
    #form-cmd div .ok{
        margin-left: 10px;
    }
}