/* General */

* {
    font-family: 'Syne', sans-serif;
}

body {
    justify-content: center;
}

/* Header */


/* Footer */


/* Main */

.elementor-element.elementor-element-6384a76:not(.elementor-motion-effects-element-type-background) {
    border-radius: 0% 0% 50% 50% / 0% 0% 10% 10%;
}

.wp-caption-text {
    position:absolute;
    z-index: 2;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.4);
}